.checkout_container{
    max-width: 1000px;
    margin: 20px auto;
    padding-left: 20px
}

.user_info{
    display: flex;
    flex-direction: column;
    max-width: 500px
}

.user_info_input{
    margin: 10px;
    padding: 13px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 15px;
    outline: none;
    color: black;
}

.user_info_input:disabled{
    background-color: white;
}

.place_order_btn{
    max-width: 470px;
    width: 90%;
    color: white;
    background-color: black;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    display: block;
    cursor: pointer;
}