.product_container{
    width: 300px;
    text-align: center;
    margin: 30px 0
}

.image_container{
    position: relative;
}

.price_tag{
    position: absolute;
    top: 0;
    left: 25px;
    border-radius: 3px;
    color: white;
    font-size: 25px;
    background-color: black;
}

.cart_btn{
    width: 80%;
    font-size: 17px;
}